.my-form {
    border: 1px solid tomato;
}

.wrapper {
    display: flex;
    gap: 1em;
}

.btn {
    padding: 0.5rem 1 rem;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.primary {
    background-color: green;
}

.outline {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}

