.App {
  padding: 10px;
  max-width: 60%;
  margin: auto;
  position: absolute;
  left: 20vw;
}

.taskForm {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.saveButton {
  text-align: center;
  background: #faebd7;
  color: #000;
  cursor: pointer;
  height: 3em;
}

.checkBox:checked {
  accent-color: #4c7da8;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  position: relative;
  left: 20%;
}

.taskItem {
  display: flex;
  gap: 1em;
  align-items: left;
  justify-content: left;
}

.removeButton {
  text-align: center;
  justify-content: left;
  background: #4c7da8;
  color: #fff;
  cursor: pointer;
  height: 3em;
  align-items: right;
}

.h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.completed {
  text-decoration: line-through;
}

.filterButton {
  text-align: center;
  justify-content: left;
  background: hsl(61, 100%, 83%);
  color: #000000;
  cursor: pointer;
  height: 3em;
  padding-right: 20px;
  padding-left: 20px;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}