.App {
  padding: 10px;
  max-width: 60%;
  margin: auto;
}
.apph1 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0.2em;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.story {
  position: relative;
  padding: 1em;
  box-shadow: 0 1px 2px #4c7da8;
  background-color: #faebd7;
}

.story span.delete {
  position: absolute;
  /* padding: 1px 3px; */
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 0.8;
  top: 0;
  right: 0;
  background: #4c7da8;
  color: #fff;
  cursor: pointer;
}

.story_header {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.story_header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.story_header h1 > a {
  text-decoration: none;
}

.story_creator {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
}

.story_image {
  max-width: 20%;
}

.story_image img {
  width: 100%;
}
